<section class="py-4" id="social-section">
    <div class="container text-center">
      <h3 class="mb-3">Síguenos en:</h3>
      <div class="social-icons">
        <!-- <a href="#" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-facebook"></i>
        </a> -->
        <!-- <a href="#" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-twitter"></i>
        </a> -->
        <a href="https://www.instagram.com/mizto_panaderia/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-instagram"></i>
        </a>
        <!-- <a href="#" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-youtube"></i>
        </a> -->
      </div>
    </div>
  </section>
  