
@font-face {
    font-family: 'MiztoFont';
    src: url('./assets/aurelousdemo/AurelousDemoRegular.ttf');
  }

body{
    /* font-family: 'MiztoFont'; */
    font-family: Papyrus, fantasy;
    background-color: #212121;
    color: white;
}  
  h2, h3 {
    color: white;
  }
  
  .card {
    background-color: #333;
    color: white;
  }
  
  .social-icons a {
    color: white;
  }
  
  .social-icons a:hover {
    color: #007bff;
  }
/* Banner Video Full Width */
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Oscurecer el video */
  }
  .social-icons a {
    font-size: 1.5rem;
    margin: 0 10px;
    color: #333;
    transition: color 0.3s ease;
  }
  .social-icons a:hover {
    color: #007bff;
  }

  
#banner-title{
    color: #c3c3c3;
    font-size: 5rem;
}

.top-80 {
    top: 80% !important;
}

#social-section{
    background-color: #aca7cb;
}
.product-card-button{
    background-color: #333;
    opacity: 0.6;
    color: #fff;
    padding: 5px 15px 5px 15px;
    border-radius: 0px;
}
.modal-product .modal-content{
    background-color: #373544;
}
.modal-product .modal-body{
    min-height: 200px;
}